!!! 5
%html{:lang=>"en-us"}
    %head
        %title Pad Hacker
        %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}

        / %meta{:name=>"viewport", :content=>"width=device-width, minimum-scale=1, maximum-scale=1"}
        / %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
        / 
        / %link{:rel=>"apple-touch-icon", :href=>"/static/images/apple-touch-icon.png"}
        / %link{:rel=>"shortcut icon", :href=>"/static/images/favicon.ico"}

        %link{:href=>"/style.css", :rel=>"stylesheet", :media=>"screen, projection", :type=>"text/css"}

        %script{:type=>"application/javascript", :src=>"http://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.1/jquery.min.js"}

        %script{:type=>"application/javascript", :async=>"true", :src=>"//www.google-analytics.com/ga.js"}
        %script{:type=>"application/javascript"}
            var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-9658094-1']);_gaq.push(['_trackPageview']);


        %script{:type=>"application/javascript", :src=>"/lib/jquery.splitter-1.51.js"}

        %script{:type=>"application/javascript", :src=>"/lib/coffee_script-1.1.1-min.js"}
        %script{:type=>"application/javascript", :src=>"/lib/haml.js"}
        %script{:type=>"application/javascript", :src=>"/lib/sass.js"}

        %script{:type=>"application/javascript", :src=>"/app.js"}

    %body
        #controls
            %ul.tabs
                %li{:name=>"haml"} Haml
                %li{:name=>"sass"} Sass
                %li{:name=>"coffee"} Coffee
            %input#jquery{:type=>"checkbox"}
                jQuery
            %input#underscore{:type=>"checkbox"}
                Underscore
            #instructions
                JS-Haml + Sass + CoffeeScript = live preview
        #develop
            #source
                %textarea#haml{:spellcheck=>false}
                %textarea#sass{:spellcheck=>false}
                %textarea#coffee{:spellcheck=>false}
            #preview
                %iframe
                #errors
